.jumbotron{
  background-color: rgb(61, 177, 231);
  justify-content: center;
  align-content: center;
  text-align: center;
}


li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  align-content: center;
  justify-content: center;
  margin-bottom: 5px;
}

body {
  background-color:  orange;


}

.intro {
  align-content: center;
  justify-content: center;
  margin-bottom: 5px;
}

.panel-default {
  background-color: paleturquoise;
}

.panel-heading {
  background-color: paleturquoise;
}

